[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

find-links += http://simplesnet.com.br/pacotes/catalogo/simple

package-name = interlegis.portalmodelo.pl
package-extras = [test]

parts +=
    code-analysis
    i18ndude
    omelette
    rebuild_i18n-sh

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/interlegis/portalmodelo/pl
pre-commit-hook = True
flake8-ignore = E501
clean-lines = True
deprecated-aliases = True
imports = True
prefer-single-quotes = True
return-status-codes = True
utf8-header = True

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[versions]
collective.z3cform.datagridfield = 0.15
plone.app.robotframework = 0.8.3
robotframework = 2.8.4
robotframework-selenium2library = 1.5.0
robotsuite = 1.4.3
selenium = 2.40.0

[rebuild_i18n-sh]
recipe = collective.recipe.template
url = https://raw.github.com/collective/buildout.plonetest/master/templates/rebuild_i18n.sh.in
output = ${buildout:directory}/bin/rebuild_i18n.sh
mode = 755
